.Rproj.user
.Rhistory
.RData
.Ruserdata
Programa_Intro_JJR.log
Programa_Intro_JJR.Rmd
Taller JJR.jpg
prep
image1
.gitignore
Recomendaciones_convivencia.log
Recomendaciones_convivencia.Rmd
Recomendaciones_convivencia.pdf
~$rmas para el buen desarrollo del Taller de R.docx
